<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <li><%= link_to t("about"), about_path %></li>
        <li><%= link_to t("contact"), contact_path %></li>
      </ul>
    </nav>
  </div>
</footer>
